# String de conexão do seu PostgreSQL local (Ajuste o usuário, senha e banco)
DATABASE_URL="postgresql://postgres:sua_senha_aqui@localhost:5432/clinica_fisio"

# Chave secreta para criptografia dos logins JWT
SECRET="MINHA_CHAVE_SECRETA_SUPER_SEGURA_123"

# Porta do Servidor (opcional)
PORT=3000
